.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-card {
  background: #f4f4f4;
  border-radius: 8px;
  padding: 1rem;
  width: 200px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  
}

h2{
    cursor: pointer;
}

.delete-btn {
  background-color: #e53935;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 4px 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.delete-btn:hover {
  background-color: #c62828;
}

